# definicoes para o servidor MySQL
[mysqld]
character-set-server=utf8
collation-server=utf8_general_ci

# definicoes para clientes externos mysql
[client]
default-character-set=utf8

# defincoes para clientes linha de comando
[mysql]
default-character-set=utf8

# by Flavio Salgado
